{% extends '_base.html' %}
<!-- Main Content-->
{% block content %}
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Alright, buckle up, buttercup, because you've stumbled upon the digital equivalent
          of that quirky coffee shop where the baristas know your weird order and the Wi-Fi is surprisingly decent.
          We're not your average "About" snoozefest, filled with buzzwords and corporate jargon
          that would make a dictionary cry. Think of us as your internet pals who decided to throw a party,
          and you're invited... but like, a really chill party with comfy chairs and maybe some questionable dance moves later on.
        </p>
        <p>
          We're a motley crew of dreamers, doers, and people who occasionally forget where they left their keys
          (spoiler alert: it's usually in the fridge). We believe in turning "what ifs" into "oh, wows!" with a sprinkle of silliness
          and a whole lot of caffeine. Our mission? To make your online experience as delightful as finding a twenty-dollar bill in your old jeans.
          We're here to help you navigate the digital jungle, one giggle-inducing adventure at a time.
        </p>
        <p>
          So, whether you're here to learn something new, find a solution to a head-scratching problem, or just to have a good chuckle,
          you're in the right place. We promise to keep things real, keep things fun, and most importantly, keep the virtual snacks coming.
          Because let's face it, the internet is way better with a side of laughter and maybe a virtual cookie or two.
        </p>
        <p>
          Welcome to the party!
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}