{% extends '_base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
<header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">Posted by
                        <a href="#">{{ post.author.name }}</a> on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!--Main Content-->
{% block content %}
<article>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.body|safe }}

                <!-- Allow only ADMIN (id=1) to create and delete posts -->
                {% if current_user.id == 1: %}
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary float-right"
                           href="{{url_for('edit_post', post_id=post.id)}}">Edit Post
                        </a>
                    </div>
                {% endif %}
                <br><br><hr>

                <!-- Comments Area -->
                <a href="#" class="add-comment" data-post-id="{{ post.id }}"><b>Add Comment</b></a>
                <!-- js: show the hidden form to write comment when Add Comment href is clicked -->
                <!-- js file reference in _base.html -->
                <form method="POST"
                      id="commentForm{{ post.id }}"
                      style="display: none;">
                    <!-- Load and configure name = CommentForm_field_name CKEditor -->
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='text') }}
                    <!-- Render WTForm CommentForm -->
                    {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </form>

                <div class="comment">
                    <ul class="commentList">
                        {% if post.comments: %}
                            {% for comment in post.comments: %}
                                <li>
                                    <div class="commenterImage">
        <!--                            <img src="../static/assets/img/default-profile.jpg" />-->
                                        <img src="{{ comment.comment_author.email | gravatar }}" />
                                    </div>
                                    <div class="commentText">
                                        <p>{{comment.text|safe}}</p>
                                        <span class="date sub-text">{{comment.comment_author.name}}, {{comment.date}}</span>
                                        <br><br>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- Link JavaScript -->
<script>
    let post = {{ post_dict|tojson }};
</script>

{% endblock %}}
